In [32]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\Projects\Data Analysis\Python\Data\world_population.csv")
df[(df['Continent'] == 'Asia') & (df['Rank'] <= 10)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96

In [64]:
#making a new dataframe with Country as index
df2 = df.set_index('Country')
#looking for Pakistan details
df2.loc['Pakistan']
# Filtering specific columns
df2.filter(items = ['Continent', 'Capital', 'Area (km²)'])
#Filtering based on conditions
df2.filter(items = ['Continent', 'Capital', 'Area (km²)'])[(df2['Area (km²)'] > 1000000) & (df2['Continent'] == 'Africa')]
# Sorting based on Area in Africa
df2.filter(items = ['Rank', 'Continent', 'Capital', 'Area (km²)'])[df2['Continent'] == 'Africa'].sort_values(by='Area (km²)', ascending=False)
# Sorting based on Continent and Capital
df2.sort_values(by=['Continent', 'Capital'], ascending=True).head(25)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Nigeria,6,NGA,Abuja,Africa,218541212.0,208327405.0,183995785.0,160952853.0,122851984.0,95214257.0,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
Ghana,47,GHA,Accra,Africa,33475870.0,32180401.0,28870939.0,25574719.0,19665502.0,15446982.0,11865246.0,8861895.0,238533.0,140.3406,1.0196,0.42
Ethiopia,12,ETH,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
Madagascar,50,MDG,Antananarivo,Africa,29611714.0,28225177.0,24850912.0,21731053.0,16216431.0,11882762.0,8948162.0,6639751.0,587041.0,50.4423,1.0241,0.37
Eritrea,132,ERI,Asmara,Africa,3684032.0,3555868.0,3340006.0,3147727.0,2392880.0,2149960.0,1657982.0,1272748.0,117600.0,31.3268,1.0176,0.05
Mali,59,MLI,Bamako,Africa,22593590.0,21224040.0,18112907.0,15529181.0,11239101.0,8945026.0,7372581.0,6153587.0,1240192.0,18.2178,1.0314,0.28
Central African Republic,117,CAF,Bangui,Africa,5579144.0,5343020.0,4819333.0,4660067.0,3759170.0,2809221.0,2415276.0,2067356.0,622984.0,8.9555,1.0224,0.07
Gambia,142,GMB,Banjul,Africa,2705992.0,2573995.0,2253133.0,NaN,NaN,NaN,NaN,NaN,10689.0,253.1567,1.0250,0.03
Guinea-Bissau,149,GNB,Bissau,Africa,2105566.0,2015828.0,1788919.0,1567220.0,1230849.0,973551.0,831462.0,591663.0,36125.0,58.2856,1.0218,0.03
Republic of the Congo,114,COG,Brazzaville,Africa,5970424.0,5702174.0,5064386.0,4437884.0,3134030.0,2385435.0,1829256.0,1396989.0,342000.0,17.4574,1.0231,0.07
Burundi,78,BDI,Bujumbura,Africa,12889576.0,12220227.0,10727148.0,9126605.0,6307659.0,5483793.0,4312834.0,3497834.0,27834.0,463.0874,1.0270,0.16
Egypt,14,EGY,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
Guinea,75,GIN,Conakry,Africa,13859341.0,13205153.0,11625998.0,10270728.0,8336967.0,6354145.0,4972609.0,4222374.0,245857.0,56.3716,1.0242,0.17
Senegal,72,SEN,Dakar,Africa,17316449.0,16436119.0,14356181.0,12530121.0,9704287.0,7536001.0,5703869.0,4367744.0,NaN,NaN,1.0261,0.22
Djibouti,160,DJI,Djibouti,Africa,1120849.0,1090156.0,1006259.0,919199.0,742033.0,577173.0,324121.0,144379.0,23200.0,48.3125,1.0138,0.01
Tanzania,22,TZA,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82
Western Sahara,172,ESH,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Sierra Leone,102,SLE,Freetown,Africa,8605718.0,8233969.0,7314773.0,6436698.0,4584067.0,4325388.0,3367477.0,2778557.0,71740.0,119.9570,1.0220,0.11
Botswana,144,BWA,Gaborone,Africa,2630296.0,2546402.0,2305171.0,2091664.0,1726985.0,1341474.0,938578.0,592244.0,582000.0,4.5194,1.0162,0.03
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20
South Sudan,86,SSD,Juba,Africa,10913164.0,10606227.0,11194299.0,NaN,6114440.0,4750817.0,4192011.0,3342410.0,619745.0,17.6091,1.0153,0.14
Uganda,31,UGA,Kampala,Africa,47249585.0,44404611.0,37477356.0,32341728.0,24020697.0,17586630.0,13284026.0,10317212.0,241550.0,195.6100,1.0304,0.59
Sudan,32,SDN,Khartoum,Africa,46874204.0,44440486.0,38171178.0,33739933.0,26298773.0,21090886.0,16673586.0,11305206.0,1886068.0,24.8529,1.0267,0.59
Rwanda,76,RWA,Kigali,Africa,13776698.0,13146362.0,11642959.0,10309031.0,8109989.0,7319962.0,5247532.0,3896367.0,26338.0,523.0731,1.0234,0.17

Indexing

In [79]:
fla = pd.read_csv(r"D:\Projects\Data Analysis\Python\Data\Flavors.csv")
groupbyframe = fla.groupby(['Base Flavor', 'Liked'])
# Use numeric_only=True to only calculate mean for numeric columns
groupbyframe.mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

Merge, Joins, Concatenate

Inner Join = Things which are in both the dataframes, just like intersection
Outer join = All the things in both data frames, just like Union.
Left Join = Includes all the things in the left data frame as well as similar things from the rigth data frame
Right Join = Includes all the things in the right data frame as well as similar things from the left data frame

In [94]:
import pandas as pd

df1 = pd.read_csv(r"D:\Projects\Data Analysis\Python\Data\LOTR.csv")
df2 = pd.read_csv(r"D:\Projects\Data Analysis\Python\Data\LOTR 2.csv")

#normal merge (Inner Join)
df1.merge(df2, on = ["FellowshipID", "FirstName"])
#outer Join
df1.merge(df2, how = "outer")

   FellowshipID FirstName     Skills     Age
0          1001     Frodo     Hiding    50.0
1          1002   Samwise  Gardening    39.0
2          1003   Gandalf     Spells     NaN
3          1004    Pippin  Fireworks     NaN
4          1006   Legolas        NaN  2931.0
5          1007    Elrond        NaN  6520.0
6          1008  Barromir        NaN    51.0

In [5]:
import pandas as pd

df = pd.read_excel(r"D:\Projects\Data Analysis\Python\Data\Patient_Blood_Test.xlsx")

gender_analysis = df.groupby('Gender')
gender_analysis.mean(numeric_only=True)

,Age,Hemoglobin (g/dL),WBC (x10^9/L),Platelets (x10^9/L),Glucose (mg/dL),Cholesterol (mg/dL)
Gender,,,,,,
Female,32.64,12.312,5.852,186.8,94.88,189.4
Male,48.88,14.016,7.512,209.8,109.24,198.6